body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 -15px;
}

.wrapper {
    max-width: 2000px;
    margin: 0 auto;

}

header {
    background-image: url(../img/3-layers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 967px;
    -webkit-background-size: auto;
    background-size: auto;
}

header .menu {
    height: 134px;
    background: rgba(0, 0, 0, 0.4);
}

header div.menu div > a img {
    display: block;
    padding-top: 55px;
    padding-left: 100px;

}

header nav ul {
    list-style-type: none;
    margin-right: 100px;
    margin-top: 60px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #39b9ef;
    text-decoration: underline;
}

.osn div > h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    margin-top: 290px;
    margin-bottom: 20px;
    text-align: center;
}

.osn div > p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 21px;
}

.osn div > h1 > span {
    color: #2ebaee;
}

.osn div > a {
    display: block;
    width: 216px;
    height: 51px;
    background-color: #2ebaee;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 51px;
    margin: 0 auto;
}

/*Второй блок*/
.first-section > h2 {
    color: #242424;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 160px;
}

.foblo {
    display: flex;
    justify-content: space-between;
}

.foblo h3 {
    color: #242424;
    font-size: 24px;
    font-weight: 700;
}

.foblo p {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.check_services {
    display: block;
    width: 151px;
    height: 44px;
    background-color: #2ebaee;
    color: #fff;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    margin-top: 65px;
    margin-bottom: 173px;
}

/*Третий блок*/

.service1 h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}

.service1 p {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.service1 a {
    display: block;
    width: 151px;
    height: 44px;
    background-color: #2ebaee;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
}

.service1 div > img {
    width: 120%;
}

/*4 блок*/

.service2 {
    margin-top: 200px;
    padding: 142px;

}

.service2 .te {
    padding-top: 30px;
    padding-left: 50px;
}

.service2 div > img {
    width: 100%;
}

.service2 h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
}

.service2 p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.first-section {
    background-image: url(../img/Shape_1.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;

}

.service2 a {
    display: block;
    width: 151px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    color: #2ebaee;
    font-size: 14px;
    font-weight: 700;

}

/****************************
**********После блока с большим фоном**********
****************************/

.man img {
    width: 100%;
    min-height: 657px;
}

.two > h2 {
    min-width: 142px;
    max-width: 503px;
    max-height: 142px;
    color: #000000;
    font-size: 72px;
    font-weight: 700;
}

.man {
    height: 657px;
}

.two > p {
    max-width: 508px;
    max-height: 105px;
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.two > a {
    display: block;
    width: 151px;
    height: 44px;
    background-color: #2ebaee;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
}

.two {
    padding: 124px 0 0 74px;
}

/****************************
**********Блок с четырмя квадратами**********
****************************/

.fourblock h2 {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
    text-align: center;
    padding-top: 216px;
}

.fourblock h2:hover {
    background-color: rgb(46, 186, 238, 0.7);
}

.b2 h2 {
    background-color: rgba(0, 0, 0, 0.8);
}

.b1 {
    background-image: url(../img/1.png);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 434px;
}

.b2 {
    background-image: url(../img/76.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 434px;
}

.b3 {
    background-image: url(../img/3.png);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 434px;
}

.b4 {
    background-image: url(../img/4.png);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 434px;
}

/****************************
**********Check our awesome team**********
****************************/

.awesometeam .col-3 {
    text-align: center;

}

.tre {
    margin-top: 12px;
}

.awesometeam h2 {
    margin-top: 98px;
    font-size: 72px;
    font-weight: bold;
    color: rgb(36, 36, 36);

}

.awesometeam h2 > span {
    color: rgb(46, 186, 238);
}

.awesometeam .col-3 h3 {
    color: rgb(36, 36, 36);
    font-size: 36px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 15px;
}

.awesometeam .col-3 p {
    color: rgb(135, 135, 135);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.awesometeam .col-3 a {
    display: block;
    width: 151px;
    height: 44px;
    background-color: #2ebaee;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;

}

/****************************
**********foooter**********
****************************/

.footer {
    margin-top: 112px;
    background-image: url(../img/footer.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 724px;
}

.footer h1 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    margin-top: 136px;
    margin-bottom: 69px;
}

.footer p.adres {
    color: #878787;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.footer p.contacts {
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    color: #878787;
}

.footer p.contacts > span {
    color: #2ebaee;
}

.footer ul {
    list-style-type: none;
    margin-top: 70px;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 27px;
    margin-right: 37px;
    cursor: pointer;

}

.footer ul li.twiter {
    background-color: #55acee;
    padding: 20px 19px;
}

.footer ul li.facebook {
    background-color: #3b5998;
    padding: 20px 25px;
}

.footer ul li.pinterest {
    background-color: #cc2127;
    padding: 20px 22px;
}

.footer ul li.google {
    background-color: #dd4b39;
    padding: 20px 19px;
}

.footer ul li.mail {
    background-color: #e23047;
    padding: 20px 19px;
}

.footer input[type="text"] {
    margin-top: 145px;
}

.footer input[type="text"], .footer input[type="email"] {
    width: 636px;
    height: 61px;
    border-radius: 3px;
    border: 1px solid #535353;
    background: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 17px;
    padding-top: 6px;
    margin-bottom: 25px;
}

textarea {
    width: 636px;
    height: 204px;
    border-radius: 3px;
    border: 1px solid #535353;
    background: none;
    padding-left: 17px;
    padding-top: 13px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.footer button {
    display: block;
    width: 151px;
    height: 44px;
    background-color: #2ebaee;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    margin: 35px auto 0 auto;
    border: none;
}

footer {
    height: 135px;
    background-color: #000000;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;

}

footer ul li a {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 700;
    line-height: 92px;
    text-decoration: none;

}

footer p {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 400;
    line-height: 92px;
    float: right;
    margin-right: -70px;
}